#esto es a lo que vamos a poder acceder como administradores
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
</head>
<body>
    <H1>"Bienvenido al panel de configuraciones."</H1>
  
    <div>
        <!---este div contiene el checkbox + boton para eliminar-->
        <form action= "{{ url_for('eliminar_usuario')}}" method = "POST">
            <table>
                <tr>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Email</th>
                </tr>
        
                {% for u in usuarios %}
                    <tr>
                        <!--Muestra la lista de usuarios con un checkbox-->
                        <td><input type="checkbox" name="ids" value="{{ u[0] }}"> {{ u[0] }}</td>
                        <td>{{ u[1] }}</td>
                        <td>{{ u[2] }}</td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            <button type = "submit">Eliminar</button>
        </form>
    </div>
    <div>
        <!---este div contiene el boton para crear un nuevo usuario + formulario oculto-->
        <button type = "button" onclick="mostrarFormulario()">Crear usuario</button> 
        <div id="formulario-crear">
            <form action="{{ url_for('agregar_usuario') }}" method="POST">
                <label>DNI:</label><br>
                <input type="text" name="dni"><br>
        
                <label>Nombre:</label><br>
                <input type="text" name="nombre"><br>
        
                <label>Email:</label><br>
                <input type="email" name="email"><br>
        
                <label>Contraseña:</label><br>
                <input type="password" name="contrasena"><br><br>
        
                <button type="submit">Guardar usuario</button>
            </form>
        </div>

    </div>
    
    <div>
        <!--este div tiene el formulario para cargar los archivos de recorridos-->
        <form action="{{ url_for('agregar_recorrido') }}" method="POST" enctype="multipart/form-data">
            <label for="archivos_kml">Cargar archivo de recorridos:</label>
            <input type="file" name="archivos_kml" accept=".kml" multiple required><br><br>
            <button type="submit">Cargar</button>
        </form>

        <!--envio de mensajes informativos al administrador-->
        {% with mensajes = get_flashed_messages() %}
            {% if mensajes %}
                <ul>
                    {% for mensaje in mensajes %}
                        <li style="color: green;">{{ mensaje }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>