<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación de Ubicación</title>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>
<body>

    <!-- Contenedor principal centrado -->
    <div >
        <h2>
            Verifica el servicio en tu dirección
        </h2>
        <div id="message-box"></div>
        <form id="address-form">
            <label for="address-input">Ingresa tu dirección para consultar por el camión:</label>
            <input type="text" id="address-input" name="address" required >
            <button type="submit">Verificar Ubicación</button>
        </form>
        <div id="result-box" style="margin-top: 1rem; font-weight: bold;"></div>

    </div>
</body>
</html>