<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación de Ubicación</title>
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>
<body>

    <div >
        <br><br>
        <button id="botonGeolocalizacion">
        Usar mi ubicación actual
        </button>
        <button id="botonManual">
        Ingresar dirección manualmente
        </button>

        <br><br><br>
        <form id="form-direccion" class="hidden" style="display:none;">
            <label for="direccion" >Ingresa tu dirección:</label>
            <div>
                <input type="text" id="direccion" name="direccion" placeholder="Ej: Obispo Gelabert 2647" >
            </div>
            <br>
            <div>
                <button type="submit">
                Consultar
                </button>
            </div>
        </form>
        
        <div id="mensaje" class="hidden"></div>
        <div id="resultado" class="hidden"></div>
    </div>

    <script src= "../static/main.js"></script>
</body>

</html>