
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
            {% for m in mensajes %}
                <li style="color: red;">{{ m }}</li>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="post">
        <input type = "number" name = "usuario" placeholder="DNI" required>

        <input type = "password" name = "contrasena" placeholder="Contraseña" required>

        <button type = "submit">Iniciar sesión</button>
    </form>
</body>
</html>