/* reset.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  margin: 0;
  display: flex;
  background-color:  #0c3324 ;
}
/* ====== Celulares chicos ====== */
@media (max-width: 1024px) {
  .home_conteiner{
    margin: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-family:sans-serif;
  }
  .titulos{
    color: #ffbd59;
    font-size: 50px;
    font-weight: 900;
  }
  p{
    margin: 3%;
    color: white;
    font-size: 25px;
    font-weight: 700;
  }
  .saludo{
    width:250px;
    height: auto;
    margin-left: 13%;
    margin-bottom: 3%;    
  }
  .btns {
  position: sticky;
  top: 3%; /* se queda pegado al top cuando llegás a él */
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  background-color: #3bcf60;
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 900;
  z-index: 100; /* por si hay otros elementos */
}

.gifs {
  width: 50px;
  height: 75px;  /* corregido */
}
  h3{
    color: white;
  }
}

/* ====== Celulares grandes // Tablets ====== */
@media (min-width: 601px) and (max-width: 1024px) {

}

/* ====== Computadoras / Escritorio ====== */
@media (min-width: 1025px) {
 
}
